body{
	font-family : "roboto";
	text-align : center;
	background: #000;
}

h1{
	color: #e4eeff;
}

p{
	color: #cacaca;
	font-weight: bold;
	font-size: 1.6rem;
}

.container{
	width: 70%;
	height: min-content;
	margin: 0 auto;
	border: 1.2px solid #ceffce;
	border-radius: 25px;
}

.container__title{
	
	color: rgba(127,255,127, 0.60);
}

.container__text{
	font-size: 1.2rem;
	font-weight: 400;
	color: #efcfae;
}

header{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #afff00;
	overflow: hidden;
	border-radius: inherit;
	box-shadow: 1px 2px 6px 1px #ffffaa;
}

.header__title,
.header__description{
	font-weight: bolder;
	color: #333131;
}

.header__description{
	font-size: 1.2rem;
}
