body{
	font-family : "Arial";
	text-align : center;
}
<<<<<<< HEAD

h1{
	color: #aeff00;
	color: #e4eeff;
}

p{
	color: #cacaca;
	font-weight: bold;
	font-size: 1.6rem;
}
=======
>>>>>>> parent of 1cbd5c0 (En esta ocasión cambie el color del titulo)
